absl-py==0.12.0
aiodns==2.0.0
aiohttp==3.7.4.post0
alabaster==0.7.12
anaconda-client==1.2.2
asciichart==0.1
astor==0.8.1
astroid==2.5.6
astropy==4.2.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
backtrader==1.9.76.123
blaze==0.10.1
bleach==1.5.0
bokeh==2.3.2
boto==2.49.0
boto3==1.17.76
botocore==1.20.76
Bottleneck==1.3.2
bz2file==0.98
cachetools==4.2.2
cchardet==2.1.7
ccxt==1.50.11
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chest==0.2.3
click==8.0.1
cloudpickle==1.6.0
clyent==1.2.1
colorama==0.4.4
configobj==5.0.6
configparser==5.0.2
contextlib2==0.6.0.post1
cryptography==3.4.7
cvxopt==1.2.6
cx-Freeze==6.6
cx-Logging==3.0
cycler==0.10.0
Cython==0.29.21
cytoolz==0.11.0
dask==2021.5.0
datashape==0.5.2
decorator==4.4.2
dill==0.3.3
dm-tree==0.1.6
docutils==0.17.1
EasyProcess==0.3
enum34==1.1.10
et-xmlfile==1.1.0
fastcache==1.1.0
Flask==2.0.0
Flask-Cors==3.0.10
flatbuffers==1.12
fsspec==2021.5.0
future==0.18.2
gast==0.3.3
gin-config==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.16
greenlet==1.1.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
HeapDict==1.0.1
hgtk==0.1.3
html5lib==0.9999999
idna==2.10
imagesize==1.2.0
importlib-metadata==4.0.1
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
keras-rl==0.4.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
locket==0.2.1
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.1
matplotlib-inline==0.1.2
multidict==5.1.0
multipledispatch==0.6.0
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
odo==0.5.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandas-datareader==0.9.0
parso==0.8.2
partd==1.2.0
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.14.3
prompt-toolkit==3.0.18
protobuf==3.16.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.0.0
pycosat==0.6.3
pycparser==2.20
pyerfa==2.0.0
pyglet==1.5.0
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
s3transfer==0.4.2
scikit-learn==0.23.2
scipy==1.6.3
seaborn==0.10.1
selenium==3.141.0
six==1.15.0
sklearn==0.0
smart-open==5.0.0
snowballstemmer==2.1.0
Sphinx==4.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.4.15
statsmodels==0.12.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.2
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
tf-agents==0.7.1
threadpoolctl==2.1.0
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typing-extensions==3.7.4.3
universal-portfolios==0.4.3
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.0
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
ZigZag==0.2.2
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
